<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html::head">
<body>

	<div th:replace="fragments.html::nav"></div>

	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<form th:action="@{/departments/save}" th:object="${department}"
					method="post">

					<input type="hidden" th:field="*{id}">

					<div class="form-group row">
						<label for="name"
							class="col-sm-2 offset-sm-3 col-form-label text-right">NAME</label>
						<div class="col-sm-4">
							<input type="text" id="name" th:field="*{name}"
								class="form-control">
							<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
								th:class="text-danger"></p>
						</div>
					</div>

					<div class="form-group row">
						<label for="createdOn"
							class="col-sm-2 offset-sm-3 col-form-label text-right">CREATED&nbsp;ON</label>
						<div class="col-sm-4">
							<input type="text" id="createdOn" th:field="*{createdOn}"
								class="form-control">
							<p th:if="${#fields.hasErrors('createdOn')}"
								th:errors="*{createdOn}" th:class="text-danger"></p>
						</div>
					</div>

					<div class="form-group row">
						<div class="col-sm-4 offset-sm-5">
							<button type="submit" class="btn btn-primary">Save</button>
							<button type="reset" class="btn btn-secondary">Reset</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>