<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html::head (title='Users')">
<body>
	<div th:replace="fragments.html::nav"></div>

	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="text-right">
					<a class="btn btn-success" th:href="@{/users/form}">Add&nbsp;Users</a>
					<br> <br>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<div class="table-responsive">
					<table class="table table-striped table-bordered">
						<thead>
							<tr class="table-success">
								<th>ID</th>
								<th>NAME</th>
								<th>EMAIL</th>
								<th>AUTHORITY</th>
								<th>ENABLED</th>
								<th>MANAGE</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="user : ${page.content}">
								<td th:text="${user.id}"></td>
								<td th:text="${user.name}"></td>
								<td th:text="${user.email}"></td>
								<td th:text="${user.authority}"></td>
								<td th:text="${user.enabled}"></td>
								<td><a class="btn btn-primary"
									th:href="@{/users/disable (id=${user.id})}">Disable</a> <a
									class="btn btn-danger"
									th:href="@{/users/delete (id=${user.id})}">Delete</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<br> <br> <br> <br> <br>
				<div th:replace="fragments.html::pagination"></div>
			</div>
		</div>
	</div>
</body>
</html>
