<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html::head (title='Update password')">
<body>

	<div th:replace="fragments.html::nav"></div>

	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<form th:action="@{/users/update}" th:object="${user}" method="post">

					<input type="hidden" th:field="*{id}"> <input type="hidden"
						th:field="*{name}"> <input type="hidden"
						th:field="*{email}"> <input type="hidden"
						th:field="*{authority}"> <input type="hidden"
						th:field="*{enabled}">

					<div class="form-group row">
						<label for="password"
							class="col-sm-2 offset-sm-3 col-form-label text-right">PASSWORD</label>
						<div class="col-sm-4">
							<input type="password" id="password" th:field="*{password}"
								class="form-control">
							<p th:if="${#fields.hasErrors('password')}"
								th:errors="*{password}" th:class="text-danger"></p>
						</div>
					</div>

					<div class="form-group row">
						<label for="confirmPassword"
							class="col-sm-2 offset-sm-3 col-form-label text-right">CONFIRM&nbsp;PASSWORD</label>
						<div class="col-sm-4">
							<input type="password" id="confirmPassword"
								th:field="*{confirmPassword}" class="form-control">
							<p th:if="${#fields.hasErrors('confirmPassword')}"
								th:errors="*{confirmPassword}" th:class="text-danger"></p>
						</div>
					</div>

					<div class="form-group row">
						<div class="col-sm-4 offset-sm-5">
							<button type="submit" class="btn btn-primary">Save</button>
							<a th:href="@{'/users/form'}" class="btn btn-secondary">Reset</a>
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>
</body>
</html>
