<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html::head (title='Subject form')">
<body>

	<div th:replace="fragments.html::nav"></div>

	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<form th:action="@{/subjects/save}" th:object="${subject}"
					method="post">

					<input type="hidden" th:field="*{id}">

					<div class="form-group row">
						<label for="name"
							class="col-sm-2 offset-sm-3 col-form-label text-right">NAME</label>
						<div class="col-sm-4">
							<input type="text" id="name" th:field="*{name}"
								class="form-control">
							<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
								th:class="text-danger"></p>
						</div>
					</div>

					<div class="form-group row">
						<label for="studyProgram"
							class="col-sm-2 offset-sm-3 col-form-label text-right">STUDY&nbsp;PROGRAM</label>
						<div class="col-sm-4">
							<select id="studyProgram" th:field="*{studyProgram}"
								class="form-control">
								<option value=""></option>
								<option th:each="studyProgram : ${studyPrograms}"
									th:value="${studyProgram.id}" th:text="${studyProgram.name}"></option>
							</select>
							<p th:if="${#fields.hasErrors('studyProgram')}"
								th:errors="*{studyProgram}" th:class="text-danger"></p>
						</div>
					</div>

					<div class="form-group row">
						<label for="professors"
							class="col-sm-2 offset-sm-3 col-form-label text-right">PROFESSORS</label>
						<div class="col-sm-4">
							<select id="professors" th:field="*{professors}" multiple
								class="form-control">
								<option th:each="professor : ${professors}"
									th:value="${professor.id}" th:text="${professor.name}"></option>
							</select>
							<p th:if="${#fields.hasErrors('professors')}"
								th:errors="*{professors}" th:class="text-danger"></p>
						</div>
					</div>

					<div class="form-group row">
						<div class="col-sm-4 offset-sm-5">
							<button type="submit" class="btn btn-primary">Save</button>
							<a th:href="@{/subjects/form}" class="btn btn-secondary">Reset</a>
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>
</body>
</html>
