<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html::head">
<body>

	<div th:replace="fragments.html::nav"></div>

	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="table-responsive">
					<table class="table table-striped table-bordered">
						<thead>
							<tr class="table-success">
								<th colspan="5">STUDENT : <span th:text="${student.name}"></span></th>
							</tr>
							<tr class="table-success">
								<th>ID</th>
								<th>SUBJECT</th>
								<th>PROFESSOR</th>
								<th>DATE</th>
								<th>SCORE</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="exam, status : ${student.exams}">
								<td th:text="${status.index + 1}"></td>
								<td th:text="${exam.subject.name}"></td>
								<td th:text="${exam.professor.name}"></td>
								<td th:text="${exam.date}"></td>
								<td th:text="${exam.score}"></td>
							</tr>
							<tr>
								<th colspan="4">AVERAGE</th>
								<th th:text="${#numbers.formatDecimal(student.average, 0, 2)}"></th> 
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>