<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html::head (title='Error')"></head>
<body>

	<div th:replace="fragments.html::nav"></div>

	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div>
					<div>
						<span><b>Status</b></span> <span th:text="${status}"></span>
					</div>
					<div>
						<span><b>Error</b></span> <span th:text="${error}"></span>
					</div>
					<div>
						<span><b>Message</b></span> <span th:text="${message}"></span>
					</div>
					<div th:if="${exception != null}">
						<span><strong>Exception</strong></span> <span
							th:text="${exception}"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
