<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html::head (title='Login form')">
<body>

	<div th:replace="fragments.html::nav"></div>

	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<br>
				<h5 class="text-center text-danger" th:if="${param.error}"
					th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}"></h5>
				<br>

				<form th:action="@{/login}" method="post">

					<div class="form-group row">
						<label for="email"
							class="col-sm-2 offset-sm-3 col-form-label text-right">EMAIL</label>
						<div class="col-sm-4">
							<input type="email" id="email" name="email" class="form-control">
						</div>
					</div>

					<div class="form-group row">
						<label for="password"
							class="col-sm-2 offset-sm-3 col-form-label text-right">PASSWORD</label>
						<div class="col-sm-4">
							<input type="password" id="password" name="password"
								class="form-control">
						</div>
					</div>

					<div class="form-group row">
						<div class="col-sm-4 offset-sm-5">
							<button type="submit" class="btn btn-primary">Log&nbsp;in</button>
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>
</body>
</html>
