<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymelaf.org/extras/spring-securty5">
<head th:replace="fragments.html::head">
<body>

	<div th:replace="fragments.html::nav"></div>

	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h3 th:text="${studyProgram.name}" class="text-center"></h3>
				<br> <br>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2">
				<div sec:authorize="hasAnyAuthority('USER', 'ADMIN')">
					<div>
						<a th:href="@{/students (id=${studyProgram.id})}">Students</a>
					</div>
					<div>
						<a th:href="@{/students (id=${studyProgram.id})}">Subjects</a>
					</div>
					<div>
						<a th:href="@{/professors (id=${studyProgram.id})}">Professors</a>
					</div>
					<div>
						<a th:href="@{/exams/form (id=${studyProgram.id})}">Add&nbsp;Exam</a>
					</div>
				</div>

				<div sec:authorize="isAuthenticated()">
					<div>
						<a th:href="@{/exams (id=${studyProgram.id})}">Exams</a>
					</div>
					<div>
						<a th:href="@{/exams/search (id=${studyProgram.id})}">Search&nbsp;Exams</a>
					</div>
				</div>
				<br>
			</div>

			<div class="col-sm-10">
				<div class="table-responsive">
					<table class="table table-striped table-bordered">
						<thead>
							<tr class="table-success">
								<th></th>
								<th>SUBJECT</th>
							</tr>
							<tr th:each="subject, status : ${studyProgram.subjects}">
								<td th:text="${status.index + 1}"></td>
								<td th:text="${subject.name}"></td>
							</tr>
					</table>
				</div>

			</div>
		</div>
	</div>
</body>
</html>